.root {
    background-color: #e0f2f1;
    height: 100%;
}

.sface-center-block {
    width: 50%;
    margin-left: 10px;
    margin-top: 20px;
    display: inline-block;
}

.player {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}

.control-panel {
    margin: 5px auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.camera-list {
    float: left;
    width: 10%;
    height: auto;
    display: inline-block;
    margin-left: 5px;
}

.recognized-list {
    float: right;
    width: 10%;
    height: auto;
    display: inline-block;
    margin-right: 5px;
}

.select-camera {
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0,0,0,0.45);
    min-height: 100px;
    min-width: 120px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 50%);
    display: none;
}

#camera-list-title {
    font-family: Roboto-Medium;
    font-size: large;
}

#recognized-faces-title {
    text-align: right;
    font-family: Roboto-Medium;
    font-size: large;
}

#fab_video {
    position: absolute;
    transform: translate(-50%, 60%);
}

@font-face {
    font-family: Roboto-Bold;
    src: url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
    src: url('../fonts/roboto/Roboto-Bold.woff') format('woff');
    src: url('../fonts/roboto/Roboto-Bold.woff2') format('woff2');
}

@font-face {
    font-family: Roboto-Light;
    src: url('../fonts/roboto/Roboto-Light.ttf') format('truetype');
    src: url('../fonts/roboto/Roboto-Light.woff') format('woff');
    src: url('../fonts/roboto/Roboto-Light.woff2') format('woff2');
}

@font-face {
    font-family: Roboto-Medium;
    src: url('../fonts/roboto/Roboto-Medium.ttf') format('truetype');
    src: url('../fonts/roboto/Roboto-Medium.woff') format('woff');
    src: url('../fonts/roboto/Roboto-Medium.woff2') format('woff2');
}

@font-face {
    font-family: Roboto-Regular;
    src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
    src: url('../fonts/roboto/Roboto-Regular.woff') format('woff');
    src: url('../fonts/roboto/Roboto-Regular.woff2') format('woff2');
}

@font-face {
    font-family: Roboto-Thin;
    src: url('../fonts/roboto/Roboto-Thin.ttf') format('truetype');
    src: url('../fonts/roboto/Roboto-Thin.woff') format('woff');
    src: url('../fonts/roboto/Roboto-Thin.woff2') format('woff2');
}
