<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" src="/js/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/sface.js"></script>

    <link type="text/css" href="/css/materialize.min.css" rel="stylesheet"/>
    <link type="text/css" href="/css/sface.css" rel="stylesheet"/>

    <title>SFace</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper teal lighten-1">
            <a href="#" class="brand-logo">SFace</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/image">Image</a></li>
                <li><a href="/video">Video</a></li>
                <li><a href="/settings">Settings</a></li>
                <li><a>Logout</a></li>
            </ul>
        </div>
    </nav>

    <div id="root">
    </div>

</body>
</html>
