<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <script type="text/javascript" src="/js/jquery-3.2.0.min.js"></script>
        <script type="text/javascript" src="/js/materialize.min.js"></script>
        <script type="text/javascript" src="/js/sface.js"></script>
        <script type="text/javascript" src="/js/sockjs-0.3.4.min.js"></script>

        <link type="text/css" href="/css/materialize.min.css" rel="stylesheet"/>
        <link type="text/css" href="/css/sface.css" rel="stylesheet"/>

        <title>SFace - Video</title>
    </head>
    <body>

        <div id="root" class="root">
            <nav>
                <div class="nav-wrapper teal lighten-1">
                    <a href="#" class="brand-logo">SFace</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="/image">Image</a></li>
                        <li><a href="/video">Video</a></li>
                        <li><a href="/settings">Settings</a></li>
                        <li><a>Login</a></li>
                    </ul>
                </div>
            </nav>

            <div id="active-camera-list" class="active-camera-list-style">
                <p id="camera-list-title">Activities</p>
            </div>

            <div id="sface-cente-block" class="sface-center-block">
                <div id="player-window" class="player">
                    <div id="video-show">
                        <div style="display: none">
                            <canvas id="liveVideo" width="640" height="480" style="display: inline">
                            </canvas>
                        </div>
                        <img id="frame" width="640" height="480"/>

                    </div>
                    <div id="control-panel" class="control-panel">
                        <a class="waves-effect waves-light btn" id="startStream" onclick="showNewCameraPopup()">Connect</a>
                        <a class="waves-effect waves-light btn" id="stopStream" onclick="disconnectFromCamera()">Disconnect</a>
                    </div>
                </div>

                <div class="fixed-action-btn">
                    <a class="btn-floating btn-large waves-effect waves-light red accent-4" onclick="showNewCameraPopup()">
                        <img id="fab_video" class="material-icons" src="/img/ic_add_white.png"/>
                    </a>
                </div>
            </div>

            <div id="recognized-faces" class="recognized-list">
                <p id="recognized-faces-title">Recognized</p>
                <div id="face-list">
                </div>
            </div>

            <div id="new-camera-popup" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <h4>Available</h4>
                    <!--<select id="available-cameras" size="5" onchange="getCameraDescriptionBySelectedCamera()" style="display: inline; height: 50%">-->
                    <!--</select>-->
                    <div class="input-field col s12" style="margin-top: 5px">
                        <select id="available-cameras" size="5" onchange="getCameraDescriptionBySelectedCamera()">
                        </select>
                    </div>
                    <p id="cameraDescription" style="margin-top: 5px"></p>
                </div>
                <div class="modal-footer">
                    <a class="modal-action modal-close waves-effect waves-green btn-flat" onclick="closeNewCameraPopup()">Cancel</a>
                    <a class="modal-action modal-close waves-effect waves-green btn-flat" onclick="connectToCamera()">Add</a>
                </div>
            </div>
        </div>
    </body>
</html>
